/* For the table of results printed out from the queries */
table {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 10px;
    border: 1px solid;
    text-align: left;
    tr:nth-child(even){background-color: #f2f2f2;}
    }

/* For the logo in the upper left corner of the screen */
#logoimg {
    width: 130px;
    height: 100px;
    }

/* Properties for navbar */
#navbar {
    background-color: #1F73C1;
    font-weight: bold;
    }

/* Properties for the contents of the page, all content output by python is wrapped in this div in base.html*/

#pagecontent {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/* Properties for the Footer */

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.container-footer{
    overflow:hidden;
    margin-top: 250px ;
    background:#000000 ;
    color: #627482  !important;
    margin-bottom: 0 ;
    padding-bottom: 0 ;
}



small{
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important;

}

.bold-text{
    color: #989c9e !important;
}

GabeLink{
    padding-left: 50px;
    text-align: left;
}
JadenLink{
    padding-left: 50px;
    text-align: center;
}
AdrianLink{
    padding-left: 50px;
    text-align: right;
}

h3{
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important;
}

/* Properties for the coontents of the page */

#pagecontent {

}

.timestamp {
    position: absolute;
    right: 0;
}