h1{
    color: blue;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding: 10px;
    border: 1px solid;
    text-align: left;

    tr:nth-child(even){background-color: #f2f2f2;}
}

styledimg {
    background-image: url(../VaccineBuddyLogo100.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 70px;
    }