<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static',filename='css/vaccine_buddy.css')}}">
        <title>Vaccine Buddy</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid" id="navbar">
                <a class="navbar-brand" href="#">
                    <img src="{{url_for('static',filename='img/VaccineBuddyLogo100.png')}}" id="logoimg" alt="Vaccine Buddy Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('weeks2') }}">Expiring in 2 weeks</a>
                        <a class="nav-link active" aria-current="page" href="{{ url_for('weeks4') }}">Expiring in 4 weeks</a>
                        <a class="nav-link active" aria-current="page" href="{{ url_for('expired') }}">Already Expired</a>
                        <a class="nav-link active" aria-current="page" href="{{ url_for('add') }}">Add Vaccines</a>
                        <a class="nav-link active" aria-current="page" href="{{ url_for('remove') }}">Remove Vaccines</a>
                        <a class="nav-link active" aria-current="page" href="{{ url_for('showall') }}">Show all</a>
                    </div>
                </div>
            </div>
        </nav>
         <div class="container-fluid pb-0 mb-0 justify-content-center text-light ">

    </div>
        <div id="pagecontent">
            {% block content %}
            {% endblock %}
        </div>
        <footer>
            <div class="container-footer" id="footer">
                <div class="col-11">
                    <div class="row ">
                        <div class="col-xl-8 col-md-4 col-sm-4 col-12   my-auto mx-auto a"><h3 class="text-muted mb-md-0 mb-5 bold-text">Vaccine Buddy.</h3></div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-12"><h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6><ul class="list-unstyled"><li><a href="{{ url_for('weeks2') }}">2 Weeks</a></li><li><a href="{{ url_for('weeks4') }}">4 Weeks</a></li><li><a href="{{ url_for('expired') }}">Already Expired</a></li><li><a href="{{ url_for('add') }}">Add Vaccine</a></li><li><a href="{{ url_for('remove') }}">Remove Vaccine</a></li><li><a href=""{{ url_for('showall') }}"">Show all</a></li></ul></div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-12"><h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6><p class="mb-1">1234, Main Street</p><p>Vaccine Town</p> </div>
                    </div>
                    <div class="row ">
                        <div class="GabeLink "><h6 class="mt-55 mt-2 text-muted bold-text"><b>GABRIEL WHATLEY</b></h6><small> <span><i class="fa-envelope" aria-hidden="true"></i></span> whatley_gabriel@students.columbusstate.edu</small></div>
                        <div class="JadenLink"><h6 class="text-muted bold-text"><b>JADEN TORRES</b></h6><small><span><i class="fa-envelope" aria-hidden="true"></i></span> torres_jaden@students.columbusstate.edu</small></div>
                        <div class="AdrianLink"><h6 class="text-muted bold-text"><b>ADRIAN WADE</b></h6><small><span><i class="fa-envelope" aria-hidden="true"></i></span> wade_adrian@students.columbusstate.edu</small></div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>