{% extends 'base.html' %}

{% block content %}
        <div id ="removeform">
                <form method="POST" name="remove single">
                    Remove Single Vaccine
                    <label for="manu_name">Manufacturer Name:  <input type="text" name="manu_name"></label>
                    <br/>
                    <label for="lot_no">Lot Number:  <input type="text" name="lot_no"></label>
                    <br/>
                    <label for="exp_date">Expiration Date:  <input type="date" name="exp_date"></label>
                    <br/>
                    <input type="hidden" name="type" id="single">
                    <br/>
                    <input type="submit" value="Search">
                </form>
                <form method="POST" name = "remove all expired">
                    <br/>
                    <br/>
                    Remove all expired
                    <br/>
                    This option will first show a list of all expired vaccines and then offer the option to remove them from the database.
                    <br/>
                    <input type="hidden" name="type" id="expired">
                    <br/>
                    <input type="submit" value="Remove All">
                </form>
        </div>
{% endblock %}